parameters:
    sensitiveParameterDetector:
        additionalKeywords: []

services:
    -
        factory: BuiltFast\PHPStan\SensitiveParameterDetectorRuleFactory(
            %sensitiveParameterDetector.additionalKeywords%
        )
        tags:
            - phpstan.rules.rule
